/* You can add global styles to this file, and also import other style files */

.app-container {
  margin: 5rem;
  margin-top: 10px;
}

.card.news-card {
  margin: 0 5px 5px 0;
}

@media only screen and (max-width: 600px) {
  .app-container {
    margin: 1rem;
    margin-top: 60px;
    height: 85vh !important;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 600px) {
  .app-container {
    margin: 3rem;
    margin-top: 60px;
    height: 95vh !important;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 768px) {
  .app-container {
    margin: 3rem;
  }
}
